<!-- FOR MOBILE NAV BAR -->

<a href="index.html" class="mobile-logo">
  <img src="/images/mobilebearlogo.png" alt="compass fellowship logo" />
</a>

<button id="nav-toggle-button" aria-label="Toggle navigation menu">☰</button>
<div id="mobile-menu-overlay" role="dialog" aria-modal="true" aria-label="Main menu">
  <a href="/pages/index.html" class="en menu-link">HOME</a>    
  <!--a href="/pages/info.html" class="en menu-link">INFO</a-->
  <a href="/pages/team.html" class="en menu-link">TEAM</a>
  <a href="/pages/faq.html" class="en menu-link">FAQ</a>
  <a href="/pages/apply.html" class="en menu-link">APPLY</a>

  <a href="/pages/index.html" class="zh menu-link">主頁</a>    
  <!--a href="/pages/info.html" class="zh menu-link">INFO (CN)</a-->
  <a href="/pages/team.html" class="zh menu-link">團隊</a>
  <a href="/pages/faq.html" class="zh menu-link">常見問題</a>
  <a href="/pages/apply.html" class="zh menu-link">申请</a>
  <div class="menu-link">
    <a href="#" id="btn-en-mobile">EN</a> | <a href="#" id="btn-zh-mobile" style="font-size: 1.8rem">中</a>
  </div>
</div>
