<!-- NAVIGATION BAR -->
<nav>
    <a href="/pages/index.html" class="nav-logo">
        <img src="/images/logo.svg" alt="Logo" />
    </a>
    <ul class="nav-links">
        <!--English links-->
        <!-- <a href="/pages/info.html" class="en">INFO</a> -->
        <a href="/pages/team.html" class="en">TEAM</a>
        <a href="/pages/faq.html" class="en">FAQ</a>

        <!-- TODO: make apply this a dedicated page -->
        <a href="/pages/apply.html" class="en">APPLY</a>
        <!--Chinese links-->
        <!-- <a href="/pages/info.html" class="zh">信息</a> -->
        <a href="/pages/team.html" class="zh">团队</a>
        <a href="/pages/faq.html" class="zh">常見問題</a>
        <a href="/pages/apply.html" class="zh">申请</a>
    </ul>
    <button id="btn-en">EN</button>
    <button id="btn-zh">中</button>
</nav>
