<!-- NAVIGATION BAR -->
<nav>
    <a href="/pages/index.html" class="nav-logo">
        <img src="/images/logo.svg" alt="Logo" />
    </a>
    <ul class="nav-links">
        <!--English links-->
        <a href="/pages/info.html" class="en">INFO</a>
        <a href="/pages/team.html" class="en">TEAM</a>
        <a href="/pages/faq.html" class="en">FAQ</a>

        <!-- TODO: make apply this a dedicated page -->
        <a href="https://docs.google.com/forms/d/1gOhcHAmKVjMeXKGFmiek0noKtls0skEILfKl7Lp7QVo/viewform?edit_requested=true" target="_blank" class="en">APPLY</a>
        <!--Chinese links-->
        <a href="/pages/info.html" class="zh">INFO (CN)</a>
        <a href="/pages/team.html" class="zh">TEAM (CN)</a>
        <a href="/pages/faq.html" class="zh">FAQ (CN)</a>
        <a href="https://docs.google.com/forms/d/1gOhcHAmKVjMeXKGFmiek0noKtls0skEILfKl7Lp7QVo/viewform?edit_requested=true" target="_blank" class="zh">APPLY</a>
    </ul>
    <button id="btn-en">EN</button>
    <button id="btn-zh">中</button>
</nav>
