<!-- NAVIGATION BAR -->
<nav>
    <!-- <a href="/pages/index.html" class="nav-logo">
        <img src="/images/logo.svg" alt="Logo" />
    </a> -->
    <ul class="nav-links">
        <!--English links-->
        <a href="/pages/index.html" class="en nav-link">HOME</a>
        <a href="/pages/info.html" class="en nav-link">INFO</a>
        <a href="/pages/team.html" class="en nav-link">TEAM</a>
        <a href="/pages/faq.html" class="en nav-link">FAQ</a>
        <a href="/pages/apply.html" class="en nav-link">APPLY</a>
        <!--Chinese links-->
        <a href="/pages/index.html" class="zh nav-link">主頁</a>
        <!-- <a href="/pages/info.html" class="zh nav-link">信息</a> -->
        <a href="/pages/team.html" class="zh nav-link">團隊</a>
        <a href="/pages/faq.html" class="zh nav-link">常見問題</a>
        <a href="/pages/apply.html" class="zh nav-link">申请</a>
        <div id="nav-link-translate-row">
          <a href="#" id="btn-en">EN</a> | <a href="#" id="btn-zh" style="font-size: 0.9rem">中</a>
        </div>
    </ul>
</nav>
